/* Start coding here */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(45deg, hsl(0, 100%, 70%), hsl(240, 100%, 70%));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;   
}


.box {
    width: 400px;
    background-color: hsla(0, 50%, 100%, 0.5);
    text-align: center;
    padding: 30px;
  }

p{
    padding: 10px;
}
  